# Telegram Bot Configuration
BOT_TOKEN=8777475548:AAFkf4p87vM3oyoQRzFErsqRn960EZUzB9g
ADMIN_IDS=1944489561,987654321
# Database Configuration  
DATABASE_URL=sqlite:///vpn_bot.db
# Для PostgreSQL: DATABASE_URL=postgresql://user:password@localhost/vpn_bot

# Payment Configuration
YOOMONEY_TOKEN=5C762DB9FC64D0AC478A2D6B6FF2F5CF8EDC489E0BBED70DB48E8DCA46321FF9050E26797A288FC969D0F00BA970D3A2A4CDAF3C5F1DB3851849B035BAF756BA
QIWI_TOKEN=your_qiwi_token
CRYPTOMUS_API_KEY=your_cryptomus_api_key
CRYPTOMUS_MERCHANT_ID=your_cryptomus_merchant_id

# VPN Configuration - Marzban Panel
MARZBAN_BASE_URL=https://panel.legendaryvpn.online:8000/dashboard/
MARZBAN_USERNAME=admin
server_location=Russia
MARZBAN_PASSWORD=sanya_lox

# Bot Configuration
DEFAULT_LANGUAGE=ru
DEBUG=False
LOG_LEVEL=INFO

# Subscription Plans (in rubles)
PLAN_1_MONTH_PRICE=299
PLAN_3_MONTH_PRICE=799
PLAN_6_MONTH_PRICE=1499
PLAN_12_MONTH_PRICE=2699

# Referral System
REFERRAL_BONUS_PERCENT=10
REFERRAL_MIN_PAYOUT=100

# Support Configuration
SUPPORT_USERNAME=your_support_bot
SUPPORT_CHAT_ID=-1001234567890